dt{
    font-weight: bold;
}
div{
    vertical-align: top;
    display: inline-block;
    border-top: solid 4px gray;
    border-left: solid 4px gray;
    border-right: solid 4px black;
    border-bottom: solid 4px black;
    margin: 10px;
    padding: 10px 30px 10px 30px;
    width: 300px;
    height: 600px;
}
div.content{
    background-color: gold;
}
div#ootd{
    background-color: cyan;
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
dt#ootd{
    color: red;
    text-decoration: underline;
}
img#movie{
    width: 200px;
    height: 300px;
}img#ootd{
    width: 200px;
    height: 200px;
}
img#netflix{
    width: 200px;
    height: 100px;
}
div#login_form{
    text-align: center;
    width: 500px;
    height: auto;
}
div#login_form input{
    display: block;
    margin: 10px;
}